body {
    font-size: 20;
    text-align: center;
    font-family: "Arial";
    margin: 0;
    padding: 0;
    
}

#container {
   width: 70%;
   padding: 1cm;
   text-align: center;
   border: 1px solid #DDD;
   margin: 0 auto;
}

#container h1 {
    font-size: 40px;
}

#container p {
    font-size: 25px;
}

#green {
    color: rgb(61, 206, 61)
}